body,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  cursor: default;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

a {
  text-decoration: none;

  &:hover {
    cursor: pointer;
  }
}