$breakpoints: ('xxs': 320px,
  'xs': 450px,
  'sm': 576px,
  'md': 768px,
  'lg': 992px,
  'xl': 1200px,
  'xxl': 1440px,
  'xxxl': 1600px,
);

$text-transform: ('title': capitalize,
  'nav': uppercase,
  'btn': uppercase,
);

$color: ('dark': #262626,
  'header-btn': #ff6033,
  'light': #fff,
  'about-bg': #00afaf,
  'service-bg': #70bfff,
  'gallery-bg': #ffe92f,
  'gallery-btn': #5585a2,
  'subscribe-btn': #96b92c,
  'blog-bg': #b07cf7,
  'blog-btn': #f72b3b,
  'contact-form': #00c4c4,
  'contact-border': #355b82,
  'love': #f42b55,
);

%logo {
  font-family: 'Pacifico', cursive;
  text-transform: map-get($text-transform, 'title');
}

%title {
  font-size: 72px;
  font-weight: 700;
  text-transform: map-get($text-transform, 'title');

  @media screen and (max-width: map-get($breakpoints, 'lg')) {
    font-size: 54px;
  }
}

%btn {
  padding: 10px 20px;
  color: map-get($color, 'light');
  box-shadow: 0 1px 10px -3px map-get($color, 'dark');
  font-size: 18px;
  text-transform: map-get($text-transform, 'btn')
}